body {
    font-family:Arial, Helvetica, sans-serif;
    background:red
   
}

header {
    border: 3px dotted purple
    
}

header h1 {
    text-align:center;
}

#title {
    font-size: 2.5em;
    font-weight:bold;
    margin:auto;
    
}

header p {
    text-align:center;
}
.Layout {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

}


.titlebox {
    height:300px;
    width:236px;
}



ul {
    list-style-type: none;
}

/* Tablets */
/*
@media screen and (max-width: 768px){

    .photos {
        width:46%;
    }

    header {
        width:46%;
    }

}

/* Mobile */
/*
@media screen and (max-width: 480px){

    .photos {
        width:96%;
    }
    header {
        width:96%;
    }
}
