body {
    font-family:Arial, Helvetica, sans-serif;
    
}

header {
    border: 3px dotted purple;
    
}

header h1 {
    text-align:center;
}

#title {
    font-size: 2.5em;
    font-weight:bold;
    margin:auto;
    
}

header p {
    text-align:center;
}

.titlebox {
    display:flex;
    flex-flow:column;

    height:300px;
    width:100%;
}

.Layout {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:column wrap;
    align-content:center;

}

img {
    width:44%
}



/* Tablets */
/*
@media screen and (max-width: 768px){

    .photos {
        width:46%;
    }

    header {
        width:46%;
    }

}

/* Mobile */
/*
@media screen and (max-width: 480px){

    .photos {
        width:96%;
    }
    header {
        width:96%;
    }
}
